body {
    width: 100vw;
    height: auto;
    background-color: var(--background-color);
}

nav{
    position: relative;
}

.menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.875rem 1.25rem;
    background-color: var(--grey-1);
    max-width: 100%;
    position: fixed;
    z-index: 1;
}

.menu h1 {
    font-size: var(--title-2-size);
    color: var(--grey-6);
    font-weight: 600;
}

.menu button {
    background-color: transparent;
    color: var(--grey-6);
    cursor: pointer;
}

.conteiner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 5.625rem;
    max-width: 100%;
}

.conteiner__post {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
}

.conteiner__post__user {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.25rem;
    gap: 1.25rem;
    max-width: 100%;
}

.conteiner__user {
    width: 15.625rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 0.75rem;
    max-width: 100%;
    /* border: 1px solid black; */
}

.conteiner__user img {
    width: 100%;
    width: 3.125rem;
    height: 3.125rem;
    max-width: 100%;
}

.conteiner__user div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 100%;
}

.conteiner__user div span {
    font-size: var(--title-2-size);
    font-weight: 600;
    color: var(--grey-1);
}

.conteiner__user div p {
    font-size: var(--text-3-size);
    font-weight: 400;
    color: var(--grey-2);
    padding-left: 0.125rem;
}

.text__box {
    width: 100%;
    background-color: var(--grey-6);
    border: 2px solid var(--grey-4);
    border-radius: var(--border-radius);
    padding: 1.25rem;
    font-size: var(--text-2-size);
    color: var(--grey-3);
    max-width: 100%;
}

.text__box:focus {
    border: 2px solid var(--brand-1);
}

.text__box--titulo {
    height: 3.25rem;
}

.text__box--descricao {
    height: 8.125rem;
}

.conteiner__post__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 100%;
}

.post__button {
    width: 4.375rem;
    height: 2.375rem;
    border-radius: var(--border-radius);
    background-color: var(--grey-4);
    font-size: var(--text-2-size);
    color: var(--grey-3);
    font-weight: 600;
    cursor: pointer;
}

.conteiner__sugestao {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.25rem;
    gap: 2.5rem;
    max-width: 100%;
    /* border: 2px solid green; */
}

.conteiner__sugestao h1 {
    font-size: var(--title-2-size);
    font-weight: var(--title-2-weight);
    color: var(--grey-1);
}

.conteiner__sugestao__users {
    width: 100%;
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    max-width: 100%;
    /* border: 1px solid blue; */
    overflow-x: auto;
}

.card__user {
    width: 15.625rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    /* border: 2px solid yellow; */
    max-width: 100%;
}

.card__user button {
    width: 4.25rem;
    height: 1.75rem;
    border: 1px solid var(--grey-1);
    border-radius: var(--border-radius);
    background-color: var(--grey-6);
    color: var(--grey-1);
    font-size: var(--text-2-size);
    font-weight: 600;
    cursor: pointer;
}

#btnSeguindo {
    width: 5.5625rem;
    height: 1.75rem;
    border: 1px solid var(--brand-1);
    border-radius: var(--border-radius);
    background-color: var(--brand-1);
    color: var(--grey-6);
    font-size: var(--text-2-size);
    font-weight: var(--text-2-weight);
}

.conteiner__publication {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.25rem;
    gap: 1.25rem;
    max-width: 100%;
    /* border: 4px solid blue; */
}

.conteiner__publication h1 {
    font-size: var(--title-1-size);
    font-weight: var(--title-1-weight);
    line-height: var(--title-1-height);
    /* border: 1px solid coral; */
}

.conteiner__publication__list {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    /* border: 1px solid black; */
    max-width: 100%;
}

.publication {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.25rem;
    max-width: 100%;
    overflow: hidden;
    /* border: 1px solid blue; */
}

.publication__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.25rem;
    max-width: 100%;
}

.publication__text h1 {
    font-size: var(--title-1-size);
    font-weight: var(--title-1-weight);
    line-height: var(--title-1-height);
}

.publication__text p {
    font-size: var(--text-2-size);
    font-weight: var(--text-2-weight);
    line-height: 1.75rem;
}

.publication__button {
    width: 100%;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: row;
    gap: 2rem;
    max-width: 100%;
}

.publication__button button {
    width: 5.75rem;
    height: 2.375rem;
    background-color: var(--grey-1);
    color: var(--grey-6);
    font-size: var(--text-2-size);
    font-weight: 600;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.publication__button__icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.publication__button__icon img {
    width: 1.5625rem;
    height: 1.75rem;
    cursor: pointer;
}

.publication__button__icon span {
    font-size: var(--text-2-size);
    font-weight: var(--text-2-weight);
}

.modal__conteiner {
    width: 90%;
    border: 0rem solid transparent;
    border-radius: 0.5rem;
    margin: 0 auto;
    margin-top: 3.125rem;
    padding: 0;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border-radius: 0.5rem;
    padding: 2.5rem 1.5rem;
    position: relative;
}

.modal__close {
    display: flex;
    justify-content: flex-end;
    background-color: var(--grey-6);
}

.modal__close img {
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
    position: absolute;
}

.modal__article {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.modal__title {
    font-size: var(--title-1-size);
    font-weight: var(--title-1-weight);
    line-height: var(--title-1-height);
    color: var(--grey-2);
    /* border: 1px solid blue; */
}

.modal__text {
    font-size: var(--text-1-size);
    font-weight: var(--text-1-weight);
    line-height: 1.75rem;
    color: var(--grey-2);
    /* border: 1px solid blue; */

}

@media(min-width: 1024px) {
    .menu {
        padding: 1.875rem 6.25rem;
    }

    .conteiner {
        padding: 0rem;
        /* border: 20px solid blue; */
    }

    .conteiner__post {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 4.375rem;
        padding: 1.25rem 6.25rem;
        /* border: 4px solid yellow; */
    }

    .conteiner__post__user {
        padding: 0rem;
        /* border: 1px solid tomato; */
    }

    .post__button {
        background-color: var(--brand-1);
        color: var(--grey-6);
    }

    .conteiner__sugestao__users {
        height: auto;
        flex-direction: column;
        /* border: 1px solid green; */
    }

    .card__user {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }

    .conteiner__sugestao {
        width: 50%;
        ;
        padding: 0rem;
        /* border: 1px solid tomato; */
    }

    .conteiner__publication {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1.25rem 6.25rem;
        gap: 1.25rem;
        max-width: 100%;
        /* border: 4px solid blueviolet; */
    }

    .conteiner__publication__list {
        display: flex;
        flex-direction: column;
        padding-right: 26.875rem;
        gap: 3.125rem;
        overflow-x: hidden;
        /* border: 2px solid blue; */
    }

    .publication {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        max-width: 100%;
        /* border: 2px solid yellow; */
    }

    .modal__conteiner {
        width: 50%;
        margin: 0 auto;
        margin-top: 6.25rem;
        padding: 0rem;
    }

    .modal {
        width: 0 auto;
        height: 0 auto;
        gap: 2rem;
        border-radius: 0.5rem;
        padding: 2.5rem 1.5rem;
    }

}